/* this is the style for index.html */
body {
  background-color: rgb(30, 30, 30);
  color: white;
}

.index-header {
  margin-top: 1rem;
  text-align: center;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  width: 70%;
}

.recipe-container li {
  background-color: rgb(76, 76, 76);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.recipe-container img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.recipe-container li div {
  height: 20rem;
  width: 20rem;
}
section {
  margin-right: 1rem;
  width: 80%;
  padding: 1rem;
}

section p {
  margin-top: 1rem;
}

section button {
  margin-top: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

section button:hover {
  background-color: rgb(112, 116, 116);
}

section a {
  text-decoration: none; 
  color: inherit;
  cursor: pointer; 
}

footer {
  color: rgb(163, 165, 166);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.recipe-img-container {
  height: 20rem;
  width: 20rem;
}

.recipe-img-container img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h6 {
  text-align: center;
}